<div class="row">
  <div class="page-header">
    <h1>Question List</h1>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <a ng-href="#/questions/new" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Content</th>
              <th>Answer</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="question in questions">
              <td>{{$index + 1}}</td>
              <td>{{question.content}}</td>
              <td>{{question.answer}}</td>
              <td>
                <a ng-href="#/questions/{{question.id}}/edit" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
                <a ng-href="#/questions/{{question.id}}" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-eye-open"></i></a>
                <a ng-click="deleteQuestion($index)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
